*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.container{
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    background: #ccc;
}
input{
    width: 350px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
button{
    height: 50px;
    width: 60px;
    margin: 12px 15px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.operator{
    background-color: white;
    color: darkgreen;
}
.equal-btn{
    background-color: orange;
}